.main-aside {
  position: fixed;
  z-index: 997;
  left: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
}

.aside-always {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  background-color: #196fc1;
  color: #fff;
  z-index: 997;
}

.aside__toggles-wrap {
    margin-bottom: 40px;
}

.aside__el {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.aside__el:hover {
  color: #333;
}

.aside__el.logo {
  min-height: 107px;
  border-bottom: 1px solid rgba(199, 204, 209, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.aside__el.toggle {
  height: 200px;
  display: flex;
  position: relative;
}

.aside__el.toggle:last-child {
    margin-top: -20px;
}

.aside__el.toggle:first-child::after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background-color: #fff;
}

.rotate {
  display: block;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.aside__vacancy {
  display: inline-flex;
  z-index: 996;
  background-color: transparent;
}

.aside__vacancy.hidden {
  width: 0;
}

.vacancy-left {
  width: 360px;
  padding-left: 32px;
  z-index: 992;
  position: relative;
  left: -370px;
  background-color: #aaa;
}

.vacancy-left-text {
  font-size: 32px;
  padding-top: 60px;
}

.vacancy-main {
  width: calc(100vw - 460px);
  z-index: 991;
  position: relative;
  right: 100vw;
  background-color: #ccc;
}
