.fp-part {
  background-color: #ccc;
}

.s1 .fp-tableCell {
  display: flex;
  align-items: stretch;
}

.s1__block {
  background-color: transparent;
  transition: background-color 0.22s ease-in-out;
  flex-basis: 50%;
}

.s1__block:hover {
  background-color: rgba(0, 0, 0, 0.32);
}

.s1__block--right {
  position: relative;
}

.s1__block--right::before {
  content: '';
  position: absolute;
  left: 0;
  top: 173px;
  display: inline-block;
  width: 1px;
  height: 70%;
  background-color: #fff;
}

.slide1 {
  position: relative;
  background: url('../img/kbg_dark.png') no-repeat center / cover;
  background-color: #777;
}

.s1__slide-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: translateX(100%);
}

.btn--sec1 {
  background-color: #fff;
  min-height: 64px;
  margin: 15px;
  padding: 20px 32px;
}

.btn--sec1:first-child {
  margin-left: 100px;
}

.s2 {
  background-color: #fff;
  display: flex;
  width: 200vw;
}

.s2__top {
  display: flex;
  align-items: stretch;
  padding-top: 107px;
  padding-bottom: 100px;
  padding-left: 130px;
}

.s2-top__left {
  width: 45%;
  padding-right: 80px;
  padding-top: 20px;
  font-size: 25px;
}

.s2-top__left span {
  font-size: 18px;
  font-weight: lighter;
}

.s2-top__right {
  margin-top: -50px;
  width: 44%;
  display: grid;
  grid-template-columns: repeat (2, 250px);
  grid-template-rows: auto auto;
}

.s2-top__right div {
  overflow: hidden;
  position: relative;
}

.s2-top__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s2-top__right .img-cap {
  position: absolute;
  display: block;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#img3 {
  grid-column: span 2;
}
